:root {
  --background: #1a1a1a;
  --background-mute: #242424;

  --primary: #42b883;
  --on-primary: #213547;
  --secondary: #2f2f2f;
  --on-secondary: #aac8e4;
  --link: #ffffffde;
  --link-hover: #42b883;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover) !important;
}

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mx-auto {
  margin-inline: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: auto auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  #app {
    padding: 1rem;
  }
}
